<div class="search-bar">
    <form>
        <div><span class="search-title">Search Shows</span></div>
        <div>
            <mat-form-field>
                <mat-icon matPrefix>search</mat-icon>
                <input matInput type="text" placeholder="Enter the show name" 
                aria-label="Show name" [formControl] = "search" autocomplete="off">
            </mat-form-field>
        
        </div>
        <!-- <mat-form-field class="example-full-width">
            <input matInput type="text" placeholder="Leave a comment">
        </mat-form-field> -->
      </form>
      
</div>
